<div class="row signin">
    <div id="side1" class="col-md-6">
        <h2><center>Sign in</center></h2>
        <img src="./assets/svg/singin.svg" alt="" id="signin-svg" class="img main-svg">
    </div>

    <div id="side2" class="col-md-6">
        <br>
        <div class="err"></div>
        <form action="#" method="POST" class="form signin-form">
            <div class="field row">
                <div class="col-sm-2">
                    <img src="./assets/svg/user.svg" alt="" class="icon">
                </div>
                <div class="col-sm-9">
                    <label for="">Email Id</label>
                    <br>
                    <input id="s-email" name="email" placeholder="Enter Email Id" required type="email">
                </div>
            </div>
            <br>
            <div class="field row">
                <div class="col-sm-2">
                    <img src="./assets/svg/padlock.svg" alt="" class="icon">
                </div>
                <div class="col-sm-9">
                    <label for="">Password</label>
                    <br>
                    <input id="s-pwd" name="pwd" placeholder="Enter Your Password" required type="password">
                </div>
            </div>
            <br>
            <button id="signin-btn" class="btn">Sign in</button>
        </form>
    </div>
</div>