
<div class="signup row">
    <div id="side1" class="col-md-6">
        <h2><center>Sign up</center></h2>
        <img src="./assets/svg/signup.svg" alt="" id="signup-svg" class="img main-svg">
    </div>
    
    <div id="side2" class="col-md-6">
       <br>
        <p class="err"></p>

            <form action="#" method="POST" class="form" id="signin-form">
                <div class="line1"></div>
                <img src="./assets/svg/padlock.svg" alt="" class="lock-icon">
                <div class="line2"></div>

                <div class="field row">
                    <div class="col-sm-2">
                        <img src="./assets/svg/user.svg" alt="" class="icon">
                    </div>
                    <div class="col-sm-9">
                        <label for="">User name</label>
                        <br>
                        <input required name="name" id="name" placeholder="Enter Name" type="text">
                    </div>
                </div>
                <br>
                <div class="field row">
                    <div class="col-sm-2">
                        <img src="./assets/svg/email.svg" alt="" class="icon">
                    </div>
                    <div class="col-sm-9">
                        <label for="">Email</label>
                        <br>
                        <input required name="email" id="email" placeholder="Enter Email Id" type="email">
                    </div>
                </div>
                <br>
            <br><br>
                <div class="field p-field row" >
                    <div class="col-sm-10">
                        <label for="">Password</label>
                        <br>
                        <input required name="pwd" id="pwd" placeholder="Enter Password" type="password">
                    </div>
                </div>

                <br>
                <div class="field p-field row" >
                    <div class="col-sm-10">
                        <label for="">Confirm Password</label>
                        <br>
                        <input required name="rePwd" id="rePwd" placeholder="Re-Enter Password" type="password">
                    </div>
                </div>
                <button id="signup-btn" class="btn">Sign up</button>
            </form>
    </div>
</div>